/*
font-family: 'Alatsi', sans-serif; - норм шрифт под инглиш вордс
font-family: 'Open Sans Condensed', sans-serif; Светлый, легкий шрифт на русиче (под вторичную инфу)
font-family: 'Bebas Neue', cursive; - под заголовки на инглише
font-family: 'Vibes', cursive; - пиздатый шрифт на инглише (полурукопись)
font-family: 'Fira Sans Extra Condensed', sans-serif; - основной шрифт
font-family: 'Amatic SC', cursive;
 */

body{
    padding: 0;
    margin: 0;
    font-family: 'Fjalla One', sans-serif;

}
*{
    transition: all .2s;

}
.first{
    height: 100vh;
    background-color: #212B2C;
    background-color: black;
    display: flex;
    justify-content: center;
    line-height: 45px;

}
.about-1{
    color: aliceblue;
    margin-top: 37vh;
    width: 33%;
    text-align: center;

}
.title-1{
    transition: 0.5s;
    font-size: 40px;

}

.t-1{
    font-size: 26px;
    text-shadow: 1px 1px 2px black, 0 0 1em black;

}
.quote{
    text-transform: uppercase;
    font-size: 45px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 10px;

}


.preloader {
    position: fixed;
    background-color: black;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: 1s all;
}

.loader {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 2px solid black;
    animation: 2s load infinite linear;
}

.loader-2 {
    width: 55px;
    height: 55px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 2px solid black;
    animation: 1s load-2 infinite linear;
}

@keyframes load-2 {
    from {
        border-bottom: 2px solid white;
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        border-bottom: 2px solid white;
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes load {
    from {
        border-top: 2px solid white;
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        border-top: 2px solid white;
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.unvisible {
    opacity: 0;
    visibility: hidden;
}
.img-1{
    height: 50px;
    width: 50px;
    margin-top: 30vh;
    transition: 0.5s;
    text-align: center;
}

.scroll-div {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    width: 20px;
    height: 60px;
    justify-content: space-around;
}

.scroll-ball {
    width: 10px;
    height: 10px;
    opacity: 0;
    border-radius: 50%;
    background-color: white;
    animation: 1.4s scroll infinite linear;
    border: 1px solid white;
}

.scroll-ball-1 {
    animation-delay: 0;
}
.scroll-ball-2 {
    animation-delay: 333ms;
}
.scroll-ball-3 {
    animation-delay: 666ms;
}

@keyframes scroll {
    from {
        background-color: white;
    }
    50% {
        background-color: black;
        opacity: 0.8;
        border: 1px solid white;
    }
    to {
        background-color: white;
    }
}
.second{
    height: 100vh;
    background-color: #323232;
    background-position: center ;


}
.content-2{
    display: flex;
    justify-content: space-around;
    margin-top: 32vh;
    height: auto;
    display: flex;
    justify-content: center;
    word-spacing: 10px;
    line-height: 45px;
}
.item{
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 0px 20px 0px 20px;
}
.title-2-2{
    font-size: 40px;
    font-weight: bold;
    color:white;
    text-align: center;
}